<% include ../partials/header %>
<div class="fillup">
    <form class="ui inverted form" action="/login" method="POST">
      <div class="field">
        <h1 class="form-title">LOGIN</h1>
      </div>
      <div class="field">
        <input type="text" name="username" placeholder="Username">
      </div>
      <div class="field">
        <input type="password" name="password" placeholder="Password">
      </div>
      <button class="ui button submit-button" type="submit">LogIn</button>
    </form>
</div>

<% include ../partials/footer %>
