<% include partials/header %>
<div class="fillup">
    <form class="ui inverted form" action="/campgrounds" method="POST">
      <div class="field">
        <h1 class="form-title">SIGNUP</h1>
      </div>
      <div class="field">
        <input type="text" name="campground[title]" placeholder="Title">
      </div>
      <div class="field">
        <input type="text" name="campground[image]" placeholder="Image">
      </div>
      <button class="ui button submit-button" type="submit">SignUp</button>
    </form>
</div>

<% include partials/footer %>
