<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>YelpCamp</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <body>
    <div class="ui huge inverted pointing menu">
      <div class="item">
        <img src="https://www.graphicsprings.com/filestorage/stencils/84920042aba1b1b8a829087aa6ebe21b.svg">
      </div>
      <div class="header item">
        <a href="/">YelpCamp</a>
      </div>
      <a href="#" class="item">About Us</a>
      <div class="right menu">
        <% if(!currentUser) { %>
          <div class="item">
            <a href="/register" class="ui inverted yellow button">Sign Up</a>
          </div>
          <div class="item">
            <a href="/login" class="ui inverted red button">Log In</a>
          </div>
        <% } else { %>
          <div class="item">
            <a class="ui label">
              <img class="ui right spaced avatar image" src="https://semantic-ui.com/images/avatar/small/elliot.jpg">
              <%=currentUser.name%>
            </a>
          </div>
          <div class="item">
            <a href="/logout" class="ui inverted red button">Log Out</a>
          </div>
        <% } %>
      </div>
    </div>
    <div id="main-content">
      <div id="sub-content">
